#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(104, 104, 105, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(83, 83, 83, 0.8);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Footer Custom Styles */
#footer {
    position: relative;
    text-align: right;
    margin-top: 2em;
}

#footer .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5em;
}

#footer .copyright {
    margin: 0;
}

#footer [data-action="language-button"] {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    margin: 0;
}

/* Media Queries for Footer */
@media screen and (max-width: 980px) {
    #footer .inner {
        align-items: center;
    }

    #footer [data-action="language-button"] {
        justify-content: center;
    }

    #header .icons {
        justify-content: center;
        margin-top: 1em;
    }
}

@media screen and (max-width: 736px) {
    #footer .inner {
        align-items: center;
    }

    #footer [data-action="language-button"] {
        justify-content: center;
    }

    #header .icons {
        justify-content: center;
        margin-top: 1em;
    }
}

@media screen and (max-width: 480px) {
    #footer .inner {
        align-items: center;
    }

    #footer [data-action="language-button"] {
        justify-content: center;
        flex-direction: column;
    }

    #footer [data-action="language-button"] button {
        width: 100%;
    }

    #header .icons {
        justify-content: center;
        margin-top: 1em;
    }

    #header .icons li {
        padding: 0 0.75em;
    }
}

/* Skip Link - Accessibility */
.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.skip-link:focus {
  transform: translateY(0);
  outline: 3px solid #fff;
}